
<div class="container">
  <h1>{{titulo}}</h1>
  <form>
    <div class="form-group">
      <label>Operando A</label>
      <input type="number" placeholder="Escribe operando A"
      class="form-control"  [(ngModel)]='sumaA' name="sumaA" />
    </div>

    <div class="form-group">
      <label>Operando B</label>
      <input type="number" placeholder="Escribe operando B"
      class="form-control" [(ngModel)]='sumaB' name="sumaB"/>
    </div>
    <br/>
    <div class="form-group" >
      <button type="submit" class="btn btn-success" (click)='sumar()' >
        Sumar
      </button>
    </div>

  </form>
</div>
