<div class="container">
  <div class="col">
    <h3>{{titulo}}</h3>
  </div>
  <hr/>
  <form  class="form-row">
    <div class="form-group col-md-2">
      <label for="nombre" class="ocultar">Nombre</label>
      <!-- Para capturar el texto utilizaremos two banding-->
      <input type="text" name="nombre" id="nombre" placeholder="Nombre"
          class="form-control" [(ngModel)] = "nombreInput"/>
    </div>
    <br/>
    <div class="form-group col-md-2">
      <label for="apellido" class="ocultar">Apellido</label>
      <!-- Para capturar el texto utilizaremos two banding-->
      <input type="text" name="apellido" id="apellido" placeholder="Apellido"
          class="form-control" [(ngModel)] = "apellidoInput"/>
    </div>
    <br/>
    <div class="col">
      <button type="submit" class="btn btn-primary"(click) = "agregarPersona()" >
        Agregar
      </button>
    </div>

  </form>

</div>

<br/>

@input = nos sirve para enviar informacion de un componente padre a un componente hijo,
@output = nos sirve para enviar informacion de un componente hijo a un componente padre

<div class="container">
  <hr/>
  <div class="row">
    <div class="col">
      <!-- ngFor utilizaremos para iterar las personas,
      el objeto persona almacerana cada objeto  -->
      <div *ngFor="let persona of personas; let i = index"><!-- Definimos una variable contador index es necesario-->
        <!-- Accedemos al nombre y apellido del objeto personas con interpolacion-->
        {{i+1}}: Nombre: {{persona.nombre}}, Apellido: {{persona.apellido}}
      </div>
    </div>
  </div>
</div>
